<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/cadastro.css">
    <title>Cadastro</title>
</head>
<body>

    <div class="nav">
        <div class="nav-title">
            <h1> <a href="./series.html"> Minhas Séries </a></h1>
        </div>
    
        <div class="nav-menu">
            <ul>
                <li><a href="./series.html"> Inicio </a></li>
                <li><a href="./cadastro.html"> Adicionar Série </a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="box">
            <h1>Cadastro</h1>
            <form action="#" class="form-contact" method="post" tabindex="1">
            <input type="text" class="form-contact-input" name="cadastoProduto" placeholder="Nome da Serie" required />
            <input type="text" class="form-contact-input" name="categoriaProduto" placeholder="Genero da Serie" required />
            <input type="text" class="form-contact-input" name="precoProduto" placeholder="Status" />
            <button type="submit" class="form-contact-button">Cadastrar</button>
        </div>
    </div>
      
</body>
</html>