<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/cadastro.css">
    <title>Cadastro</title>
</head>
<body>
    <div class="container">
        <div class="box">
            <h1>Cadastro</h1>
            <form action="#" class="form-contact" method="post" tabindex="1">
            <input type="text" class="form-contact-input" name="cadastoProduto" placeholder="Nome do Produto" required />
            <input type="text" class="form-contact-input" name="categoriaProduto" placeholder="Categoria do Produto" required />
            <input type="text" class="form-contact-input" name="precoProduto" placeholder="Preço do Produto" />
            <button type="submit" class="form-contact-button">Cadastrar</button>
        </div>
    </div>
      
</body>
</html>