<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Loja</title>

	<link rel="stylesheet" type="text/css" href="../assets/css/loja.css">
	
</head>
<body>

	<div class="navbar">
		<div id="logo">
			<label style="color: purple">Help</label><br>
			<label style="color: white">&nbsp;&nbsp;&nbsp;&nbsp;Us<span style="color: purple">!</span></label>
		</div>

		<div id="info">
			<img src="../assets/img/user.png" style="width: 3rem">&nbsp;
			<a href="#">[user-logado] <img src="../assets/img/logout.png" id="sair" width="30" height="18"></a>
		</div>
	</div>

	<!--Conteúdo-->
	<div class="img">
		<img src="../assets/img/back.jpg" id="back">
	</div>

	<div id="content">
		<button onclick="javascript:location.href='./cadastro.html'" id="cad">Cadastrar<br> Novo Produto</button>
		<button onclick="javascript:location.href='./promocao.html'"id="prom" style="margin-left: 29.5rem">Cadastrar <br> Promoção</button>

		<table>
		  <tr>
		    <th>Produto</th>
		    <th>Categoria</th>
		    <th>Preço</th>
		  </tr>
		  <tr>
		    <td>Blusa gola polo</td>
		    <td>Vestuário</td>
		    <td>R$50,00</td>
		  </tr>
		  <tr>
		    <td>Camisa Social</td>
		    <td>Vestuário</td>
		    <td>R$80,00</td>
		  </tr>
		  <tr>
		    <td>Tênis Nike</td>
		    <td>Calçados</td>
		    <td>R$150,00</td>
		  </tr>
		  <tr>
		    <td>Boné Adidas</td>
		    <td>Acessório</td>
		    <td>R$40,00</td>
		  </tr>
		  <tr>
		    <td>Calça Jeans</td>
		    <td>Vestuário</td>
		    <td>R$70,00</td>
		  </tr>
		  <tr>
		    <td>Jaqueta</td>
		    <td>Vestuário</td>
		    <td>R$180,00</td>
		  </tr>
		</table>


	</div>

</body>
</html>