<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../assets/css/promocao.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promoção</title>
</head>
<body>
    <div class="container">
        <div class="box">
            <table>
                <tr>
                  <th>Produto</th>
                  <th>Categoria</th>
                  <th>Preço</th>
                </tr>
                <tr>
                  <td>Blusa gola polo</td>
                  <td>Vestuário</td>
                  <td>R$50,00</td>
                </tr>
                <tr>
                  <td>Camisa Social</td>
                  <td>Vestuário</td>
                  <td>R$80,00</td>
                </tr>
                <tr>
                  <td>Tênis Nike</td>
                  <td>Calçados</td>
                  <td>R$150,00</td>
                </tr>
                <tr>
                  <td>Boné Adidas</td>
                  <td>Acessório</td>
                  <td>R$40,00</td>
                </tr>
                <tr>
                  <td>Calça Jeans</td>
                  <td>Vestuário</td>
                  <td>R$70,00</td>
                </tr>
                <tr>
                  <td>Jaqueta</td>
                  <td>Vestuário</td>
                  <td>R$180,00</td>
                </tr>
              </table>
        </div>

    </div>
</body>
</html>