<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/series.css">
    <title>Minhas Séries</title>
</head>
<body>
    <div class="nav">
        <div class="nav-title">
            <h1><a href="./series.html"> Minhas Séries </a></h1>
        </div>
    
        <div class="nav-menu">
            <ul>
                <li><a href="./series.html"> Inicio </a></li>
                <li><a href="./cadastro.html"> Adicionar Série </a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <table class="series">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Genêro</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Black List</td>
                    <td>Ação</td>
                    <td>Assistida</td>
                    <td> <button class="remover">Remover</button> <button class="editar">Editar</button> </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Cobra kai</td>
                    <td>Ação</td>
                    <td>Assistir Depois</td>
                    <td> <button class="remover">Remover</button> <button class="editar">Editar</button> </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>You</td>
                    <td>Suspense</td>
                    <td>Assistida</td>
                    <td> <button class="remover">Remover</button> <button class="editar">Editar</button> </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Colony</td>
                    <td>Drama</td>
                    <td>Assistir Depois</td>
                    <td> <button class="remover">Remover</button> <button class="editar">Editar</button> </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>